html, body{
    width: 100%;
    height: 100%;
    background-color: #0477BF;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav,footer{
    width: 100%;
    height: 10vh;
    background-color: #124673;
    text-align: center;
    color: #F24C27;
    padding: 2vh;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0 4em 0 3em;
    display: block;
    overflow: hidden;
}
li {
    float: right;
}
li a{
    display: block;
}
#header{
    float: left;
    font-size: 1.9em;
    margin-top: 3px;
}
main{
    margin: 0 3em;
    padding: 10px 20px;
    height: auto;
    background-color: #F2A444;
}

a{
    background-color: rgba(177, 225, 255, 0.753);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 2px 5px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    background-color: rgb(73, 185, 255);
}
a:visited{
    color: black
}
.active{
    background-color: #124673;
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
    margin: 2px 5px;
    display: inline-block;
}

footer{
    font-weight: 600;
}
/* Color Theme Swatches in Hex */
.ncert4-1-hex { color: #124673; }
.ncert4-2-hex { color: #0477BF; }
.ncert4-3-hex { color: #F2A444; }
.ncert4-4-hex { color: #F2DFCE; }
.ncert4-5-hex { color: #F24C27; }

/* Color Theme Swatches in RGBA */
.ncert4-1-rgba { color: rgba(18, 70, 115, 1); }
.ncert4-2-rgba { color: rgba(4, 119, 191, 1); }
.ncert4-3-rgba { color: rgba(242, 164, 68, 1); }
.ncert4-4-rgba { color: rgba(242, 223, 206, 1); }
.ncert4-5-rgba { color: rgba(242, 76, 39, 1); }

/* Color Theme Swatches in HSLA */
.ncert4-1-hsla { color: hsla(207, 72, 26, 1); }
.ncert4-2-hsla { color: hsla(203, 95, 38, 1); }
.ncert4-3-hsla { color: hsla(33, 86, 60, 1); }
.ncert4-4-hsla { color: hsla(28, 58, 87, 1); }
.ncert4-5-hsla { color: hsla(10, 88, 55, 1); }